<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <base target="_blank">
    <link rel="icon" href="/static/favicon.ico" th:href="@{/images/favicon.jpg}" type="image/x-icon">
    <link href="https://cdn.bootcss.com/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>

    <!-- 导航 -->
    <nav th:replace="fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Adam博ov</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="info icon"></i>About me</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a id="showtab" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- 中间内容 -->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <div class="ui segment">
                        <img src="../static/images/macaw-poly.jpg" th:src="@{/images/pic/macaw-poly.jpg}" alt="" class="ui rounded image">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text">Adam博ov,一个热爱LOL，对数码痴迷的处女座编程boy，</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic left pointing label m-margin-tb-tiny">编程</div>
                        <div class="ui orange basic left pointing label m-margin-tb-tiny">思考</div>
                        <div class="ui orange basic left pointing label m-margin-tb-tiny">运动</div>
                        <div class="ui orange basic left pointing label m-margin-tb-tiny">看书</div>
                        <div class="ui orange basic left pointing label m-margin-tb-tiny">看电影</div>
                        <div class="ui orange basic left pointing label m-margin-tb-tiny">打游戏</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">LOL</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">Rust</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">Python</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">WEB前端</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a href="https://github.com/adamboov" class="ui git circular icon button"><i class="github icon"></i></a>
                        <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq circular icon button" data-content="12345678"
                            data-position="bottom center"><i class="qq icon"></i></a>
                    </div>
                    <div class="ui wechatQR flowing popup transition hidden">
                        <img src="../static/images/person/wechat.jpg" th:src="@{/images/person/wean.jpg}" alt="" class="ui rounded image" style="width: 120px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- 底部footer -->
    <footer th:replace="fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    </footer>

    <script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.4/semantic.min.js"></script>
    <script>
        $('#showTab').click(
            function () {
                $('.m-item').toggleClass('m-mobile-hide');
            }
        );
        $('.wechat').popup({
            popup: $('.wechatQR'),
            on: 'hover',
            position: 'bottom center',
        });
        $('.qq').popup();
        $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
    </script>
</body>

</html>